<div class="container d-flex flex-column justify-content-center align-items-center mt-3">
    <h1 class="mb-3">Pokemon Detail</h1>
    <div class="card" style="width: 18rem;">
        <img src={{pokemonDetail.sprites.front_default}} class="card-img-top" alt={{pokemonDetail.name}}>
        <div class="card-body">
            <h5 class="card-title">{{ pokemonDetail.name | uppercase }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let ability of pokemonDetail.abilities">{{ ability.ability.name | uppercase}}</li>
            </ul>
        </div>
    </div>
</div>